<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>delete employee</title>
<link href="../static/styles.css" rel="stylesheet">

<!--
send a post request to java to delete an employee. this form will send an object Employee and fill its username and
password fields. After submit, page should return to "manage.html"
-->
<form action="#" th:action="@{/deleteEmployee}" th:method="post" th:object="member">
  <label>first name: <input maxlength="35" name="first-name" pattern="^[a-zA-Z]*$" placeholder="first name" required
                            th:field="*{firstName}" title="please enter max to 35 alphabetic characters"
                            type="text"></label>
  <br>
  <label>last name: <input maxlength="35" name="last-name" pattern="^[a-zA-Z]*$" placeholder="last name" required
                           th:field="*{lastName}" title="please enter max to 35 alphabetic characters"
                           type="text"></label>
  <br>
  <input type="submit" value="submit">
  <input type="reset" value="reset">
</form>
