<!DOCTYPE html><!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>products</title>
<link href="../static/styles.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function () {
        $(".buy").click(function () {
            let id = this.value;
            $("#buy_id").val(id);
            document.buy.submit();
        });
    });
</script>

<table>
  <thead>
  <tr>
    <th>name
    <th>retail price
    <th>category
    <th>membership discount
    <th>stock info
  <tbody>
  <tr th:each="product: ${products}">
    <td th:text="${product.getName()}">
    <td th:text="${product.getRetailPrice()}">
    <td th:text="${product.getCategory()}">
    <td th:text="${product.getMembershipDiscount()}">
    <td th:text="${product.getStockInfo()}">
    <td>
      <button class="buy" th:value="${product.productId}">buy</button>
</table>

<!-- send a post request to java to buy an item. this form will send a Product class and fill its productId field. -->
<form action="#" id="buy" name="buy" th:action="@{/buyProduct}" th:method="post" th:object="product">
  <label><input disabled id="buy_id" th:field="*{productId}" type="number"></label>
</form>
