<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>sign up</title>
<link href="../static/styles.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#password").blur(checkPassword);
        $("#confirm").blur(checkPassword);
    });

    function checkPassword() {
        if ($("#password").val() === $("#confirm").val()) {
            $("#submit").attr("disabled", false);
        } else {
            $("#submit").attr("disabled", true);
        }
    }
</script>

<button id="back" onclick="window.location.href='../static/index.html'">back</button>
<form action="#" th:action="@{/register}" th:method="post" th:object="${member}">
  <label>username: <input maxlength="25" minlength="6" name="username" pattern="^\w*$" placeholder="username" required
                          th:field="*{username}"
                          title="please enter 6-25 characters including alphabet, number, and underscore." type="text"></label>
  <br>
  <label>password: <input id="password" maxlength="25" minlength="6" name="password" placeholder="********" required
                          th:field="*{password}" title="please enter 6-25 characters." type="password"></label>
  <br>
  <label>confirm password: <input id="confirm" maxlength="25" minlength="6" placeholder="********" required
                                  title="confirm password should be same as password." type="password"></label>
  <br>
  <label>first name: <input maxlength="35" name="first-name" pattern="^[a-zA-Z]*$" placeholder="first name" required
                            th:field="*{firstName}" title="please enter max to 35 alphabetic characters"
                            type="text"></label>
  <br>
  <label>last name: <input maxlength="35" name="last-name" pattern="^[a-zA-Z]*$" placeholder="last name" required
                           th:field="*{lastName}" title="please enter max to 35 alphabetic characters"
                           type="text"></label>
  <br>
  <label>birthday: <input th:field="*{birthday}" type="date"></label>
  <br>
  <label>address: <input maxlength="255" name="address" placeholder="address" th:field="*{address}" type="text"></label>
  <br>
  <label>phone: <input id="phone" maxlength="15" minlength="9" pattern="^[0-9]*$" placeholder="phone number" size="15"
                       th:field="*{phone}" title="please enter 9-15 characters and only numbers." type="number"></label>
  <br>
  <input disabled id="submit" type="submit" value="sign in">
  <input type="reset" value="reset">
</form>
